<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="id.scode.scholarshipexpertscodeidev">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_nabuina"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_nabuina_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivityScodeIdev">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="id.scode.exercise01Newbie.ExerciseLatihanSatu" />
        <activity android:name="id.scode.exercise02MyIntent.IntentScodExercise" />
        <activity android:name="id.scode.exercise02MyIntent.MoveActivity" />
        <activity android:name="id.scode.exercise02MyIntent.MoveWithData" />
        <activity android:name="id.scode.exercise02MyIntent.MoveWithPojo" />
        <activity android:name="id.scode.exercise02MyIntent.IntentResultActivity" />
        <activity android:name="id.scode.exercise03ViewAndViewgroup.ViewGroupActivity" />
        <activity
            android:name="id.scode.TugasYogi.PastPerfect"
            android:label="@string/title_activity_past_perfect"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="id.scode.exercise04ReyclerView.ListView" />
        <activity
            android:name="id.scode.submission.SubmissionHome"
            android:label="@string/title_activity_submission_home">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name="id.scode.submission.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme">

        </activity>
        <activity
            android:name="id.scode.submission.DicodingProfile"
            android:label="@string/title_activity_dicoding_profile"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name="id.scode.selfTaught_FancyShowCaseView.FancyMain">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name="id.scode.exercise05Fragment.MyFlexibleFragmentScode">

        </activity>
    </application>

</manifest>